.navbar-toggler{
    background-color: #4285f4;
    color: white;
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    border: 2px solid black;
    width: 170px;
    height: 40px;
    padding: 0px 15px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    color: black;
    font-weight: bold;
}
.nav-btn{
    margin: 3px 5px;
    border: none;
    width: 185px;
    height: 45px;
    background-color: #4285f4;
}
.nav-btn:hover{
    border: 1px solid #4285f4;
    background-color: white;
}