.navbar{
    position: sticky;
    top: 0;
    z-index: 2!important;
}
.navbar-toggler{
    background-color: #4285f4;
    color: white;
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item{
    border: 2px solid black;
    width: 170px;
    height: 40px;
    padding: 0px 15px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    color: black;
    font-weight: bold;
}

.nav-btn {	
    margin: 3px 5px;
    border:1px solid #4285f4;
    width: 185px;
    height: 45px;
    background-color: #4285f4;
	position:relative;
    font-weight: bold;
    color: white;

}

.nav-btn:before {
	content: 'আবেদন';
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;	 
    font-weight: bold; 
    transition: all .5s ease;
	top: 0;
	left: 50%;
	height: 100%;
	width: 0%;
	background-color: white;   

	
}
.nav-btn:hover:before {
	left: 0;
	width: 100%;
    z-index: 1;
    color: black;
  
}
